@charset "UTG-8";

:root {
    /* paleta de cores */
    --cor1: #2E4052;
    --cor2: #beddfc;
    --cor3: #9AC4F8;
    --cor4: #F7C899;
    --cor5: #CA2E55;
    --opacidade: #0000008e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

a {
    color: #000;
}


/* menu/cabeçalho */
header {
    background-color: var(--cor1);
    padding: 20px;
    box-shadow: 5px 5px 10px .5px rgba(0, 0, 0, 0.308);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    width: 55px; /* Largura do botão */
    height: 55px; /* Altura do botão */
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 5px;
    padding: 0; /* Remova o padding para melhor centralização */
    color: var(--cor4);
    background-color: var(--cor1);
    display: flex; /* Adiciona flexbox */
    align-items: center; /* Centraliza no eixo Y */
    justify-content: center; /* Centraliza no eixo X */
    font-size: 32px; /* Aumenta o tamanho do texto */
    box-shadow: 5px 5px 10px .5px rgba(0, 0, 0, 0.308);;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: var(--cor1);
    position: fixed;
    top: 0;
    right: -250px; /* Começa fora da tela */
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar ul {
    list-style-type: none;
    padding: 25px;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    color: var(--cor4);
    text-decoration: none;
}

.sidebar.open {
    right: 0; /* Move para dentro da tela quando aberta */
}
.sublinks {
display: none; /* Inicialmente escondido */
}

.close-button {
    background: none;
    border: none;
    color: var(--cor5);
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px;
}
nav {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.83);
    padding: 10px;
    border-radius: 5px;
    display: none;
    
}

nav a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

#toggle-nav {
    position: fixed;
    top: 20px;
    left: 22px;
    z-index: 1000; /* Ensure it stays on top of other elements */
    padding: 7px 12px;
    background-color: var(--cor3); /* Example background color */
    color: var(--cor1); /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
}

@media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }
}