@charset "UTF-8";

:root {
    --cor1: #2E4052;
    --cor2: #121920;
    --cor3: #000;
    --cor4: #F7C899;
    --cor5: #CA2E55;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    
}

article {
    margin: 0px 100px ;
}

a {
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid #000000;
    margin: 20px 0px;
    padding: 5px;
    font-weight: 550;
    color: #011c38;
    align-items: normal;
}

.teste-sim {
    
}

figure {
    background-color: #dfedfa;
    width: 350px;
    padding: 5px;
    margin: 10px 10px;
    border: .1px #000000 solid;
    float: left;
}

figure img {
    width: 350px;
}

figure p {
    width: 350px;
    padding-top: 5px;
}

h2 {
    margin: 20px 20px 20px 0px;
    padding: 5px;
    font-weight: 550;
    color: #011c38;
}

p {
    margin-bottom: 20px;
    text-align: justify;
}

.outra-pág {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--cor1);
}

.outra-pág a { 
    font-size: 1.2em;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    border-color: var(--cor5);
    color: var(--cor5);
    padding: 20px;
    width: 200px;
    margin: 20px 10vw;
}

.outra-pág a:hover {
    color: #fff;
    background-color: var(--cor5);
    transition-duration: .5s;
}