@charset "UTG-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
    /* paleta de cores */
    --cor1: #2E4052;
    --cor2: #beddfc;
    --cor3: #9AC4F8;
    --cor4: #F7C899;
    --cor5: #CA2E55;
    --opacidade: #0000008e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #fff;
}

/* menu/cabeçalho */

#nav-bar {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list > ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0px 20px
}


.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400px;
}

.nav-link:hover {
    text-decoration: underline;
    background-color: var(--cor5);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 0.35s;
} 


.mobile-menu-icon { 
    display: none;
}

.mobile-menu { 
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }
}

/* topo */

.introdução {
    text-align: center;
}

main .introdução{
    height: 500px;
    background-image: url(../images/fundo-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

.introdução .conteúdo {
    background: var(--opacidade);
    height: 500px;
    width: 100%;

}

/* Conteúdo*/

section {
    background-color: #fff;
    display: grid;
    place-items: center;
    padding-top: 10em;
    padding-bottom: 5em;
    color: var(--cor1);
}

section h1 {
    font-size: 5em;
    color: var(--cor1);
}

section p { 
    width: 50vw;
    margin: 15px;
    font-size: 1.4em;
    text-align: center;
    
}

.introdução .conteúdo h1{
    font-size: 112px;
    padding-top: 10%;
}

.conteúdo h1, h2 {
    font-family: "jersey 10";
    color: #fff;
}

main h2 {
   font-size: 93px; 
}

h2 {
    margin: 30px 0px;
    padding: 100px;
}

.historia {
    background: var(--opacidade) url(../images/background-historia-1000.jpg) no-repeat center left;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
}

.publico {
    text-align: right;
    background: var(--opacidade) url(../images/background-publico.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
}

.bem-mal {
    background: var(--opacidade) url(../images/background-bem-mal.jpg) no-repeat center left;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
}

.economia {
    text-align: right;
    background: var(--opacidade) url(../images/background-economia.png) no-repeat center bottom;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    margin-bottom: 0px;
}

/* footer  */
.ref-bibliografica {
    padding: 2em;
    background-color: var(--cor1);
    color: var(--cor4);
}

.ref-bibliografica h1 {
    text-align: center;
    padding: 50px;
}


.ref-bibliografica ul {
    column-count: 3;
    text-align: justify;
}

.ref {
    margin: 0px 0.9em 2em 2em;
}

footer {
    background-color: var(--cor1);
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
}

footer a {
    color: #fff;
}